

<head>
    {%load static %}
    <link rel="icon" type="image/x-icon" href="{% static '/img/ecomm.png '%}">
    <link rel="stylesheet" href="{% static '/css/ecomstyle.css' %}">
    <title>FIT SHOP</title>
</head>
<body>
    <section class=" top-txt ">
        <div class="head container ">
            <div class="head-txt ">
              
            </div>
       
        </div>
    </section>
    <nav class="navbar">
        <div class="navbar-container">
            <input type="checkbox" name="" id="checkbox">
            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="menu-items">
                <li><a href="#home">Home</a></li>
                <li><a href="#sellers">Shop</a></li>
                <li><a href="#news">Blog</a></li>
                <!-- <li><a href="#contact">Contact</a></li> -->
            </ul>
            <div class="logo">
                <img src="{% static '/img/Frame 2.png'%}" alt="" >
                <!--<h1>Fit Zone</h1>-->
            </div>
        </div>
    </nav>
    <section id="home">
        <div class="home_page ">
            <div class="home_img ">
                <img src="{% static '/img/homefit.jpg'%}" alt="img ">
            </div>
            <div class="home_txt ">
                <p class="collectio ">SUMMER COLLECTION</p>
                <h2>ALL - FITNESS<br>Collection 2024</h2>
                <div class="home_label ">
                 
                </div>
                <button><a href="#sellers">SHOP NOW</a><i class='bx bx-right-arrow-alt'></i></button>
                <div class="home_social_icons">
                    <a href="#"><i class='bx bxl-facebook'></i></a>
                    <a href="#"><i class='bx bxl-twitter'></i></a>
                    <a href="#"><i class='bx bxl-pinterest'></i></a>
                    <a href="#"><i class='bx bxl-instagram'></i></a>
                </div>
            </div>
        </div>
    </section>

    <section id="collection">
        <div class="collections container">
            <div class="content">
                <img src="https://m.media-amazon.com/images/I/61wyz51MqAL._AC_UL480_FMwebp_QL65_.jpg" alt="img" />
                <div class="img-content">
                   
                </div>
            </div>
            <div class="content2">
                <img src="https://m.media-amazon.com/images/I/61eYoqYP2TL._AC_UL480_FMwebp_QL65_.jpg" alt="img" />
                <div class="img-content2">
                   
                </div>
            </div>
            <div class="content3">
                <img src="https://m.media-amazon.com/images/I/51ZQSwFr7nL._AC_UL480_FMwebp_QL65_.jpg" alt="img" />
                <div class="img-content3">
                 
                </div>
            </div>
        </div>
    </section>
    <section id="sellers">
        <div class="seller container">
            <h2>Top Sales</h2>
            <div class="best-seller">
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/61SnPHzZZUL._SL1500_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>BON PURE WHEY</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="price">
                            &dollar;37.24
                            <div class="colors">
                                <i class='bx bxs-circle red'></i>
                                <i class='bx bxs-circle blue'></i>
                                <i class='bx bxs-circle white'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/3UqjOiu">Buy  Now</a></button>
                        </div>
                        <!-- <div class="add-cart">
                            <button>Add To Cart</button>
                        </div> -->
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/61G1wgCwRhL._SL1500_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>BON ISO Whey protein</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="price">
                            &dollar;17.24
                            <div class="colors">
                                <i class='bx bxs-circle green'></i>
                                <i class='bx bxs-circle grey'></i>
                                <i class='bx bxs-circle brown'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/3JKB246">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/61lz-CLQovL._SX679_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>testo fuel whey protein</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="price">
                            &dollar;27.24
                            <div class="colors">
                                <i class='bx bxs-circle brown'></i>
                                <i class='bx bxs-circle green'></i>
                                <i class='bx bxs-circle blue'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/3ULZSXp">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/51ZQSwFr7nL._SX679_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>ATOM WHEY PROTEIN</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="price">
                            &dollar;43.67
                            <div class="colors">
                                <i class='bx bxs-circle red'></i>
                                <i class='bx bxs-circle grey'></i>
                                <i class='bx bxs-circle blue'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/4drVEM0">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller container">
            <h2>Gym Equipments</h2>
            <div class="best-seller">
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/71efZuOyE2L._SX679_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>Gym Wrist Band</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="price">
                            &dollar;10.23
                            <div class="colors">
                                <i class='bx bxs-circle blank'></i>
                                <i class='bx bxs-circle blue'></i>
                                <i class='bx bxs-circle brown'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/3QC1HDV">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/51wpGrWysjL.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>Home Gym ABS Roller</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="price">
                            &dollar;09.28
                            <div class="colors">
                                <i class='bx bxs-circle brown'></i>
                                <i class='bx bxs-circle red'></i>
                                <i class='bx bxs-circle green'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/3Q9QZEq">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/51eMHyw8QPL._SX300_SY300_QL70_FMwebp_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>Gym Gloves</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="price">
                            &dollar;06.24
                            <div class="colors">
                                <i class='bx bxs-circle grey'></i>
                                <i class='bx bxs-circle blank'></i>
                                <i class='bx bxs-circle blank'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/3QyIZNJ">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/71l2-gWOnpL._SL1500_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>Uni-Sex Skipping</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="price">
                           
                            <div class="colors">
                                <i class='bx bxs-circle grey'></i>
                                <i class='bx bxs-circle red'></i>
                                <i class='bx bxs-circle blue'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/44bYkZV">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seller container">
            <h2>Gym Equipments</h2>
            <div class="best-seller">
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/61uodPkmKcL._SL1500_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>Gym Ball</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="price">
                            &dollar;37.24
                            <div class="colors">
                                <i class='bx bxs-circle grey'></i>
                                <i class='bx bxs-circle black'></i>
                                <i class='bx bxs-circle blue'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/3w4bZWn">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/71bBhXRL8gL._SL1500_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>Yoga Mat</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="price">
                            &dollar;10.23
                            <div class="colors">
                                <i class='bx bxs-circle blank'></i>
                                <i class='bx bxs-circle blue'></i>
                                <i class='bx bxs-circle brown'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/3JrMQbf">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/31CfDF5ubJL._SX300_SY300_QL70_FMwebp_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>Gym Bench</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="price">
                            &dollar;15.24
                            <div class="colors">
                                <i class='bx bxs-circle blank'></i>
                                <i class='bx bxs-circle red'></i>
                                <i class='bx bxs-circle blue'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/4aTmMBZ">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
                <div class="best-p1">
                    <img src="https://m.media-amazon.com/images/I/51B7IM37LLL._SX300_SY300_QL70_FMwebp_.jpg" alt="img">
                    <div class="best-p1-txt">
                        <div class="name-of-p">
                            <p>Gym Accessories</p>
                        </div>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                            <i class='bx bx-star'></i>
                        </div>
                        <div class="price">
                            &dollar;09.28
                            <div class="colors">
                                <i class='bx bxs-circle blank'></i>
                                <i class='bx bxs-circle grey'></i>
                                <i class='bx bxs-circle brown'></i>
                            </div>
                        </div>
                        <div class="buy-now">
                            <button><a href="https://amzn.to/44nNnVk">Buy  Now</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="news">
        <div class="news-heading">
            <p>LATEST NEWS</p>
            <h2>Workout Trends</h2>
        </div>
        <div class="l-news container">
            <div class="l-news1">
                <div class="news1-img">
                    <img src="https://images.unsplash.com/photo-1601422407692-ec4eeec1d9b3?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y3Jvc3NmaXR8ZW58MHx8MHx8fDA%3D" alt="img">
                </div>
                <div class="news1-conte">
                    <div class="date-news1">
                        <p><i class='bx bxs-calendar'></i> 12 February 2022</p>
                        <h4>Cross Fit Workout Are The Best Ones</h4>
                        <a href="https://www.crossfit.com/essentials/what-is-a-crossfit-workout" target="_blank">read more</a>
                    </div>
                </div>
            </div>
            <div class="l-news2">
                <div class="news2-img">
                    <img src="https://media.istockphoto.com/id/498058082/photo/warrior-pose-from-yoga.webp?b=1&s=170667a&w=0&k=20&c=-J3grpoi8Icz4ObxLh6jGRHuhJ2I2L_NNUf1FTBugVo=" alt="img">
                </div>
                <div class="news2-conte">
                    <div class="date-news2">
                        <p><i class='bx bxs-calendar'></i> 17 February 2022</p>
                        <h4>The Health Benefits Of Yoga</h4>
                        <a href="https://www.hopkinsmedicine.org/health/wellness-and-prevention/9-benefits-of-yoga" target="_blank">read more</a>
                    </div>
                </div>
            </div>
            <div class="l-news3">
                <div class="news3-img">
                    <img src="https://media.istockphoto.com/id/1193121822/photo/close-up-of-hand-taking-oats-from-a-plate-through-spoon.webp?b=1&s=170667a&w=0&k=20&c=m7gDnTBy3aEyWE96TaRlXdNvSVf7ndMnFS4xsMBnD0U=" alt="img">
                </div>
                <div class="news3-conte">
                    <div class="date-news3">
                        <p><i class='bx bxs-calendar'></i> 26 February 202</p>
                        <h4>Nutrition Diet Do Last Forever</h4>
                        <a href="https://www.cdc.gov/nutrition/resources-publications/benefits-of-healthy-eating.html" target="_blank">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <footer>
        <div class="footer-container container">
            <div class="content_1">
                <img src="{% static '/img/Elevate Fitness2.png' %}" alt="logo">
                <p>The customer is at the heart of our<br>unique business model, which includes<br>design.</p>
                <img src="https://i.postimg.cc/Nj9dgJ98/cards.png" alt="cards">
            </div>
            <div class="content_2">
                <h4>SHOPPING</h4>
                <a href="#sellers">Protein Powder</a>
                <a href="#sellers">Gym Equipment</a>
                <a href="#sellers">Accessories</a>
                <a href="#sellers">Sale</a>
            </div>
            <div class="content_3">
                <h4>SHOPPING</h4>
                <a href="./contact.html">Contact Us</a>
                <a href="https://payment-method-sb.netlify.app/" target="_blank">Payment Method</a>
                <a href="https://delivery-status-sb.netlify.app/" target="_blank">Delivery</a>
                <a href="https://codepen.io/sandeshbodake/full/Jexxrv" target="_blank">Return and Exchange</a>
            </div>
            <div class="content_4">
                <h4>NEWLETTER</h4>
                <p>Be the first to know about new<br>arrivals, look books, sales & promos!</p>
                <div class="f-mail">
                    <!-- <input type="email" placeholder="Your Email"> -->
                    <i class='bx bx-envelope'></i>
                </div>
                <hr>
            </div>
        </div>
        <div class="f-design">
            <div class="f-design-txt container">
                
            </div>
        </div>
    </footer>
    <script src="{% static '/js/ecomscript.js' %}"></script>
</body>