<html>

<head>
    {%load static%}
    <link href="{%static '/css/customworkouthomepagestyle.css'%}" rel="stylesheet">
</head>


</head>

<body>
    <div class="nav"></div>
    </div>
    <img class="header" src="{% static '/img/select your bodytype (2).svg'%}">
    <div class="container">
        <div>
            <img src=>
        </div>
        <a href="endo/">
            <div><img class='imd' src="{% static '/img/perterlate.svg'%}" /></div>
        </a>
        <a href="ecto/">
            <div><img class='imd' src="{% static '/img/ferblate.svg'%}" /></div>
        </a>
        <a href="meso/">
            <div><img class='imd' src="{% static '/img/muslelatest.svg'%}" /></div>
        </a>
    </div>
</body>

</html>